/* CSS variables were created at the root of the document to be used throughout the style sheet */ 
:root {
    --seagreen: darkslategrey;
    --lightgray: lightgray;
    --purple: darkslateblue;
    --transparentpurple: rgba(24, 4, 41, 0.295);
    --goldyellow: rgba(255, 255, 0, 0.651);
    --beige: rgba(197, 204, 167, 0.877);
}
/* UNIVERSAL STYLE ADDED */
* {
    color:var(--lightgray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
/* GENERAL STYLE ADDED */
body {
    background-color:var(--seagreen);
}

li {
    list-style: none;

}

.hidden-default {
    display: none;
}
/* TOP DIV BAR STYLES ADDED*/

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

a:hover {
    color: var(--goldyellow);
}
/* HEADER INTRO SECTION STYLE ADDED*/
.containerbox {
    text-align: center;
    margin: 3rem auto;
    height:100%;
    max-width:600px;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 2rem 0 0 0;
}

.intro, main, #scorecontainerbox{
    padding: 1rem;
    background-color:var(--transparentpurple);
    display: block;
}

#begin {
    text-align: center;
}

/* MAIN QUESTIONNAIRE SECTION STYLE ADDED */
button {
    display: inline-block;
    margin: 5px;
    padding: 15px 20px;
    font-size: 100%;
    cursor: pointer;
    background-color:var(--purple);
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color:var(--seagreen);
}

button:hover {
    color: var(--goldyellow);
}

#quiz-feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: var(--purple);
    border-top: 2px solid var(--goldyellow);
}

.options button {
    display: block;
  }
  
.scores {
    position: absolute;
    top: 5px;
    left: 5px;

}
  input {
    color: black;
  }

.otherbutton {
    margin: auto;
    padding: 5px 20px;
    margin-bottom: 5px;
    border: 5px;
    border-style: solid;
    border-color:var(--seagreen);
  }

  #scorecontainerbox {
    margin: 100px auto 0 auto;
    max-width: 600px;
  } 

  ol {
    padding-left: 0px;
    max-height: 100px;
    overflow: auto;
  }
  
  li {
    padding: 10px;
}
  