/* CSS variables were created at the root of the document to be used throughout the style sheet */ 
:root {
    --seagreen: darkslategrey;
    --lightgray: lightgray;
    --purple: darkslateblue;
    --transparentpurple: rgba(24, 4, 41, 0.295);
    --goldyellow: rgba(255, 255, 0, 0.651);
}
/* UNIVERSAL STYLE ADDED */
* {
    color:var(--lightgray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}
/* GENERAL STYLE ADDED */
body {
    background-color:var(--seagreen);
}

li {
    list-style: none;

}

.hidden-default {
    display:none;
}
/* TOP DIV BAR STYLES ADDED*/
#timer {
    position: absolute;
    top: -8px;
    right: 10px;
}

a:hover {
    color: var(--goldyellow);
}
/* HEADER INTRO SECTION STYLE ADDED*/
.containerbox,main {
    text-align: center;
    margin: 3rem auto;
    height:100%;
    max-width:600px;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 2rem 0 0 0;
}

.intro, main {
    padding: 1rem;
    background-color:var(--transparentpurple);
    display: block;
}

.buttons {
  margin: auto;
  background-color:var(--purple);
  border-radius: 10px;
  border-style: solid;
  border-color:var(--purple);
}

.buttons:hover {
    color: var(--goldyellow);
}
/* MAIN QUESTIONNAIRE SECTION STYLE ADDED
main {
    display: none;
}
/* ul {
    float: left;
} */
/* QUESTION SCREEN SET AS INVISIBLE ON DEFAULT */
/* #code-questions {
    display: block;
} */
/* COMPLETED-QUIZ SCREEN STYLED */
/* #completed-quiz {
    display: block;
} */
/* QUIZ-HIGHSCORES SCREEN STYLED */
/* .quiz-highscores {
    display: none;
} */ 

#quiz-feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: var(--purple);
    border-top: 2px solid var(--goldyellow);
}